<a href="https://colab.research.google.com/github/dskeff/AWS-Deployer/blob/master/Module_2_Python_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b>Module 2 - Python Data Structures</b> (2019-Sep-29)

## Lists and Tuples

### Tuples

<ul style="list-style-type:circle;">
  <li>tuples are an ordered sequence</li>
  <li>tuples are written as comma-separated elements withn parentheses</li>
  <li>tuples are immutable</li>
  <li>tuples can ber sorted</li>
  <li>tuples can nesting other tuples</li>
</ul>

In [0]:
Ratings=(10,9,6,5,10,8,9,6,2);
print("Ratings:", Ratings);

Ratings: (10, 9, 6, 5, 10, 8, 9, 6, 2)

In [0]:
Ratings=(10,9,6,5,10,8,9,6,2);
print("Ratings:", Ratings);
print("Ratings is a ", type(Ratings));

Ratings: (10, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings is a  <class 'tuple'>

In [0]:
tuple1=('disco', 10,1.2);
print("tuple1 =", tuple1);
print("The type of tuple1 is", type(tuple1));

tuple1 = ('disco', 10, 1.2)
The type of tuple1 is <class 'tuple'>

In [0]:
tuple1=('disco', 10, 1.2);
print("tuple1:", tuple1);
print("tuple1[0]:", tuple1[0]);
print("tuple1[1]:", tuple1[1]);
print("tuple1[2]:", tuple1[2]);
print("tuple1[-1]:", tuple1[-1]);
print("tuple1[-2]:", tuple1[-2]);
print("tuple1[-3]:", tuple1[-3]);

tuple1: ('disco', 10, 1.2)
tuple1[0]: disco
tuple1[1]: 10
tuple1[2]: 1.2
tuple1[-1]: 1.2
tuple1[-2]: 10
tuple1[-3]: disco

In [0]:
tuple1=('disco', 10, 1.2);
print("tuple1:", tuple1);
tuple2=tuple1+("hard rock", 10);
print("tuple2:", tuple2);

tuple1: ('disco', 10, 1.2)
tuple2: ('disco', 10, 1.2, 'hard rock', 10)

In [0]:
tuple2=('disco', 10, 1.2, 'hard rock', 10);
print("tuple2:", tuple2);
print("tuple2[0:3]:", tuple2[0:3]);
print("tuple2[3:5]:", tuple2[3:5]);

tuple2: ('disco', 10, 1.2, 'hard rock', 10)
tuple2[0:3]: ('disco', 10, 1.2)
tuple2[3:5]: ('hard rock', 10)

In [0]:
print("tupla:",('disco', 10, 1.2, 'hard rock', 10))
print("O tamanho da tupla é", len(('disco', 10, 1.2, 'hard rock', 10)));

tupla: ('disco', 10, 1.2, 'hard rock', 10)
O tamanho da tupla é 5

In [0]:
tuple2=('disco', 10, 1.2, 'hard rock', 10);
print("tuple2:", tuple2);
print("Tamanho da tupla \"tuple2\":", len(tuple2));

tuple2: ('disco', 10, 1.2, 'hard rock', 10)
Tamanho da tupla "tuple2": 5

In [0]:
Ratings=(10,9,6,5,10,8,9,6,2);
print("Ratings:",Ratings);
RatingSorted=sorted(Ratings);
print("RatingSorted:",RatingSorted);

Ratings: (10, 9, 6, 5, 10, 8, 9, 6, 2)
RatingSorted: [2, 5, 6, 6, 8, 9, 9, 10, 10]

In [0]:
Ratings=(10,9,6,5,10,8,9,6,2);
print("Ratings:",Ratings);
RatingSorted=sorted(Ratings);
print("RatingSorted:",RatingSorted);

Ratings: (10, 9, 6, 5, 10, 8, 9, 6, 2)
RatingSorted: [2, 5, 6, 6, 8, 9, 9, 10, 10]

In [0]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)));
print("NT:", NT);
print("The len of the tuple NT is ", len(NT));

NT: (1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
The len of the tuple NT is  5

In [0]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)));
print("NT:", NT);
print("\nNT[2]:", NT[2]);
print("\nNT[2][0]:", NT[2][0]);
print("NT[2][1]:", NT[2][1]);
print("\nNT[2][0][0]:", NT[2][0][0]);
print("NT[2][0][1]:", NT[2][0][1]);
print("NT[2][0][2]:", NT[2][0][2]);

NT: (1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

NT[2]: ('pop', 'rock')

NT[2][0]: pop
NT[2][1]: rock

NT[2][0][0]: p
NT[2][0][1]: o
NT[2][0][2]: p

In [0]:
NT=(1,2,("pop","rock"),(3,4),("disco",(1,2)));
print("NT:", NT);
help(NT);

NT: (1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))
Help on tuple object:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

### Lists

<ul style="list-style-type:circle;">
  <li>lists are ordered sequence</li>
  <li>lists are written as comma-separated elements withn brackets</li>
  <li>lists are mutable</li>
  <li>lists can nesting other lists and tuples</li>
  <li>lists cab be sliced</li>
  <li>lists can be sorted</li>
  <li>lists can be appended</li>
  <li>list can be extended</li>
</ul>

### Defining a list

In [0]:
L=["Michael Jackson", 10.1, 1982]
print("L:",L);

L: ['Michael Jackson', 10.1, 1982]

In [0]:
L=["Michael Jackson", 10.1, 1982]
print("L:",L);
print("L is a ", type(L));

L: ['Michael Jackson', 10.1, 1982]
L is a  <class 'list'>

In [0]:
L=["Michael Jackson", 10.1, 1982];
print("L:",L);
print("\nL[0]:",L[0]);
print("L[1]:",L[1]);
print("L[2]:",L[2]);
print("\nL[-1]:",L[-1]);
print("L[-2]:",L[-2]);
print("L[-3]:",L[-3]);

L: ['Michael Jackson', 10.1, 1982]

L[0]: Michael Jackson
L[1]: 10.1
L[2]: 1982

L[-1]: 1982
L[-2]: 10.1
L[-3]: Michael Jackson

### Slicing a list

In [0]:
L=["Michael Jackson", 10.1, 1982, "MJ", 1];
print("L:",L);
print("L[3:5]:",L[3:5]);

L: ['Michael Jackson', 10.1, 1982, 'MJ', 1]
L[3:5]: ['MJ', 1]

### Len

In [0]:
L=["Michael Jackson", 10.1, 1982, "MJ", 1];
print("L:",L);
print("The sizing of the list \"L\" is",len(L));

L: ['Michael Jackson', 10.1, 1982, 'MJ', 1]
The sizing of the list "L" is 5

### Concatenating lists

In [0]:
L=["Michael Jackson", 10.1, 1982];
print("L:",L);
L1=L+["pop", 10];
print("L1:",L1);

L: ['Michael Jackson', 10.1, 1982]
L1: ['Michael Jackson', 10.1, 1982, 'pop', 10]

### Changing a existent list

In [0]:
L=["Michael Jackson", 10.1, 1982];
print("L:",L);
L.extend(["pop", 10]);
print("L extended:",L);
print("The sizing of changed list \"L\" is", len(L));

L: ['Michael Jackson', 10.1, 1982]
L extended: ['Michael Jackson', 10.1, 1982, 'pop', 10]
The sizing of changed list "L" is 5

### Appending

In [0]:
L=["Michael Jackson", 10.1, 1982];
print("L:",L);
L.append(["pop", 10]);
print("L appended:",L);
print("The sizing of appended list \"L\" is", len(L));

L: ['Michael Jackson', 10.1, 1982]
L appended: ['Michael Jackson', 10.1, 1982, ['pop', 10]]
The sizing of appended list "L" is 4

### Changing Elements

In [0]:
A=["disco", 10, 1.2];
print("A:", A);
A[0]="hard rock";
print("A:", A);

A: ['disco', 10, 1.2]
A: ['hard rock', 10, 1.2]

### Deleting Elements

In [0]:
A=['hard rock', 10, 1.2];
print("A:", A);
del(A[1]);
print("A:", A);

A: ['hard rock', 10, 1.2]
A: ['hard rock', 1.2]

### Converting a string to a list

In [0]:
print('hard rock'.split());

['hard', 'rock']

In [0]:
print("A,B,C,D".split(','));

['A', 'B', 'C', 'D']

### Clonning an existent list

In [0]:
A=["hard rock", 10, 1.2];
print("A:",A);
B=A;
print("B:",B);
A[0]="progressive rock";
print("B:",B);

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]
B: ['progressive rock', 10, 1.2]

In [0]:
A=["hard rock", 10, 1.2];
print("A:",A);
B=A[:]; # if you change after clonning an element from the original after cloning this change will not reflect in the clone
A[0]="progressive rock";
print("A:",A);
print("B:",B);

A: ['hard rock', 10, 1.2]
A: ['progressive rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [0]:
A=["hard rock", 10, 1.2];
print("The list \"A\":",A);
help(A);

The list "A": ['hard rock', 10, 1.2]
Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Sets

<ul style="list-style-type:circle;">
  <li>sets are a type of collection like tuples and lists</li>
  <li>unlike lists and tuples sets are unordered (sets do not record element position)</li>
  <li>sets only have unique elements (there is only one of a particular element in a set)</li>
  <li>sets are written as comma-separated elements within curly brackets</li>
</ul>

### Deffining a SET

In [0]:
Set1={"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"};
print("Set1", Set1);
print("Set1 is a ", type(Set1));

Set1 {'hard rock', 'soul', 'rock', 'pop', 'R&B', 'disco'}
Set1 is a  <class 'set'>

### Converting a LIST into a SET

In [0]:
L=["pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"];
print("L:",L);
print("L is a ", type(L));
L=set(L);
print("\nL:",L);
print("L is a ", type(L));

L: ['pop', 'rock', 'soul', 'hard rock', 'rock', 'R&B', 'rock', 'disco']
L is a  <class 'list'>

L: {'hard rock', 'soul', 'rock', 'pop', 'R&B', 'disco'}
L is a  <class 'set'>

### Adding an element to a SET

In [0]:
A={"Thriller","Black in Black","AC/DC"};
print("A:",A);
A.add("NSYSNC");
print("A:",A);

A: {'Thriller', 'AC/DC', 'Black in Black'}
A: {'Thriller', 'AC/DC', 'NSYSNC', 'Black in Black'}

### Remove an element from a SET

In [0]:
A={"Thriller","Black in Black","AC/DC","NSYSNC"};
print("A:",A);
A.remove("NSYSNC");
print("A:",A);

A: {'Thriller', 'AC/DC', 'NSYSNC', 'Black in Black'}
A: {'Thriller', 'AC/DC', 'Black in Black'}

### Verifying an element of a SET

In [0]:
A={"Thriller","Black in Black","AC/DC"};
print("A:",A);
print("Is there 'AC/DC' in the set A", "AC/DC" in A);
print("Is there 'NSYNC' in the set A", "NSYSNC" in A);

A: {'Thriller', 'AC/DC', 'Black in Black'}
Is there 'AC/DC' in the set A True
Is there 'NSYNC' in the set A False

### Verifying the intersection between two SETs

In [0]:
albumSet1={"AC/DC","Black in Black","Thriller"};
print("albumSet1:",albumSet1);
albumSet2={"AC/DC","Black in Black","The Dark Side of the Moon"};
print("albumSet2:",albumSet2);
albumSet3=albumSet1 & albumSet2;
print("The albumSet3 is the intersection of albumSet1 and albumSet2:",albumSet3);

albumSet1: {'Thriller', 'AC/DC', 'Black in Black'}
albumSet2: {'The Dark Side of the Moon', 'AC/DC', 'Black in Black'}
The albumSet3 is the intersection of albumSet1 and albumSet2: {'AC/DC', 'Black in Black'}

### Union of two SETs

In [0]:
albumSet1={"AC/DC","Black in Black","Thriller"};
print("albumSet1:",albumSet1);
albumSet2={"AC/DC","Black in Black","The Dark Side of the Moon"};
print("albumSet2:",albumSet2);
albumSet3=albumSet1.union(albumSet2);
print("The albumSet3 is the UNION of the albumSet1 and albumSet2:",albumSet3);

albumSet1: {'Thriller', 'AC/DC', 'Black in Black'}
albumSet2: {'The Dark Side of the Moon', 'AC/DC', 'Black in Black'}
The albumSet3 is the UNION of the albumSet1 and albumSet2: {'Thriller', 'The Dark Side of the Moon', 'Black in Black', 'AC/DC'}

### Subset of two SETs

In [0]:
albumSet1={"AC/DC","Black in Black","Thriller"};
print("albumSet1:",albumSet1);
albumSet2={"AC/DC","Black in Black"};
print("\nalbumSet2:",albumSet2);
print("Is albumSet2 a subset of albumSet1?:", albumSet2.issubset(albumSet1));
albumSet3={"Led Zeppelin","Black in Black"};
print("\nalbumSet3:",albumSet3);
print("Is albumSet3 a subset of albumSet1?:", albumSet3.issubset(albumSet1));

albumSet1: {'Thriller', 'AC/DC', 'Black in Black'}

albumSet2: {'AC/DC', 'Black in Black'}
Is albumSet2 a subset of albumSet1?: True

albumSet3: {'Led Zeppelin', 'Black in Black'}
Is albumSet3 a subset of albumSet1?: False

In [0]:
albumSet1={"AC/DC","Black in Black","Thriller"};
help(albumSet1);

Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

## Dictionaries

<ul style="list-style-type:circle;">
  <li>dictionaries is a type of collection</li>
  <li>List with indexes (key) and elements (values)</li>
  <li>key is an index by label, it is a kind of address, do not need to be a number</li>
  <li>values are simmilar to the element in a list and contain information</li>
  <li>dictionaries are written as comma-separated elements within curly brackets</li>
  <li>the keys have to be immutable and unique</li>
  <li>the values can be immutable, mutable and duplicates</li>
</ul>

### Setting a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
print("DICT:",DICT);
print("The type of DICT is",type(DICT));

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}
The type of DICT is <class 'dict'>

### Searching in a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
print("DICT:",DICT);
print("For the key 'Daniel' the value is",DICT["Daniel"]);

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}
For the key 'Daniel' the value is 1977

### Add a key value to a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
print("DICT:",DICT);
print("\nAdding key value 'Fátima':1948 to dictionary DICT");
DICT["Fátima"]=1948;
print("DICT:",DICT);

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}

Adding key value 'Fátima':1948 to dictionary DICT
DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007, 'Fátima': 1948}

### Delete a key value from a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007,"Fátima":1948};
print("DICT:",DICT);
print("\nDeleting key value 'Fátima':1948 from the dictionary DICT");
del(DICT["Fátima"]);
print("DICT:",DICT);

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007, 'Fátima': 1948}

Deleting key value 'Fátima':1948 from the dictionary DICT
DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}

### Verifying if a key value exists in a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
print("DICT:",DICT);
print("Is 'Daniel' a key in the dictionary DICT","Daniel" in DICT);
print("Is 'Fátima' a key in the dictionary DICT","Fátima" in DICT);

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}
Is 'Daniel' a key in the dictionary DICT True
Is 'Fátima' a key in the dictionary DICT False

### Getting all the keys of a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
print("DICT:",DICT);
print("The keys of the dictionary DICT is", DICT.keys());

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}
The keys of the dictionary DICT is dict_keys(['Daniel', 'Roberta', 'Nicole', 'Beatriz'])

### Getting all the values of a dictionary

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
print("DICT:",DICT);
print("The values of the dictionary DICT is", DICT.values());

DICT: {'Daniel': 1977, 'Roberta': 1976, 'Nicole': 1999, 'Beatriz': 2007}
The values of the dictionary DICT is dict_values([1977, 1976, 1999, 2007])

In [0]:
DICT={"Daniel":1977,"Roberta":1976,"Nicole":1999,"Beatriz":2007};
help(DICT);

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if D has a key k, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Returns a new dict with keys from iterable and values equal to value.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

### What is the syntax to obtain the first element of the tuple: A=('a','b','c')

In [0]:
A=('a','b','c');
print("A",A);
print(A[0]);

A ('a', 'b', 'c')
a

### Consider the following Python Dictionary: Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}, what is the result of the following operation: Dict["D"]

In [0]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6};
print("Dict:", Dict);
print("Dict['D']:", Dict['D']);

Dict: {'A': 1, 'B': '2', 'C': [3, 3, 3], 'D': (4, 4, 4), 'E': 5, 'F': 6}
Dict['D']: (4, 4, 4)